<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      『はじめての“文字で打ちこむ”プログラミングの本』 サポートサイト
    </title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>
        <nobr>
          はじめての<wbr />“文字で打ちこむ”<wbr />プログラミングの本<br />
        </nobr>
      </h1>
      <p>著者のサポートサイト</p>
    </header>

    <main>
      <h2>ピゴニャンのスケッチ</h2>
      <p>
        p5.jsのウェブエディターが開くので、［ファイル］メニューから「別名で保存」を選択してください。
      </p>
      <div class="link" style="width: 50%">
        <a
          href="https://editor.p5js.org/p5nyan/sketches/fHkjcRuKX"
          target="_blank"
          rel="noopener"
        >
          ここをクリック！
        </a>
      </div>

      <h2>サンプルコード</h2>
      <p>各レッスンのサンプルコードは以下のリンクボタンから見られます。</p>
      <div class="codeLink" v-scope>
        <template v-for="n in [...Array(12)].map((_, i) => i + 3)">
          <div class="link">
            <a :href="`./lesson/0${n}.html`" v-if="n < 10">レッスン 0{{n}}</a>
            <a :href="`./lesson/${n}.html`" v-else>レッスン {{n}}</a>
          </div>
        </template>
      </div>

      <h2>練習問題</h2>
      <p>
        練習問題は、サンプルコードと同じページ（の最後）にあります。以下のリンクボタンからも移動できます。
      </p>
      <div class="codeLink" v-scope>
        <template v-for="n in [...Array(11)].map((_, i) => i + 3)">
          <div class="link">
            <a :href="`./lesson/0${n}.html#ex`" v-if="n < 10"
              >レッスン 0{{n}}</a
            >
            <a :href="`./lesson/${n}.html#ex`" v-else>レッスン {{n}}</a>
          </div>
        </template>
      </div>

      <h2>追加の情報</h2>

      <h3>クリエイティブコーディングについて</h3>
      <p>この本で紹介した作品については以下のリンクを参照してください。</p>
      <ul>
        <li>
          <a href="https://openprocessing.org/">OpenProcessing</a>
        </li>
        <li>
          <a href="https://openprocessing.org/user/6533/">高尾俊介さんの作品</a>
        </li>
        <li>
          <a href="https://openprocessing.org/user/207560/"
            >Senbakuさんの作品</a
          >
        </li>
      </ul>

      <h3>エラーメッセージ</h3>
      <p class="notyet">準備中</p>

      <h3>p5.jsのウェブエディターを使わない方法</h3>
      <p class="notyet">準備中</p>

      <h3>この本を終えたあとに…</h3>
      <p>
        この本を終えて、p5.jsでグラフィックスのアニメーションを作ってみたり、JavaScriptでウェブアプリを作ってみたりしたい人は、著者のオンラインテキストも参考にしてください。<br />
        「文系大学生のための」と書かれていますが、この本を最後まで読んだ人なら小学生〜高校生でも読めると思います。「p5.js入門」のほうは基本的な文法の復習にもなります。
      </p>
      <ul>
        <li>
          <a href="https://zenn.dev/ojk/books/intro-to-p5js"
            >文系大学生のためのp5.js入門</a
          >
        </li>
        <li>
          <a href="https://zenn.dev/ojk/books/intro-to-javascript"
            >文系大学生のためのJavaScript入門</a
          >
        </li>
      </ul>
      <p>
        JavaScriptについてさらに詳しく知りたい人は、以下のオンラインテキストが参考になります。こちらは「入門書」とありますが、かなり詳しく説明がされています。
      </p>
      <ul>
        <li>
          <a href="https://jsprimer.net/"
            >JavaScript Primer 迷わないための入門書</a
          >
        </li>
      </ul>

      <h2>正誤表（間違いの修正）</h2>
      <p>いまのところ見つかっていません。</p>
    </main>

    <footer>
      <small>最終更新：2023年9月8日（著者 尾関基行）</small>
    </footer>

    <script src="https://unpkg.com/petite-vue" defer init></script>
  </body>
</html>
