<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>『はじめての“文字で打ちこむ”プログラミングの本』 サポートサイト</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <header class="toppage">
      <h1>はじめての<wbr />“文字で打ちこむ”<wbr />プログラミングの本<br /></h1>
      <p>著者のサポートサイト</p>
    </header>

    <main>
      <h2>ピゴニャンのスケッチ</h2>
      <p>p5.jsのウェブエディターが開くので、［ファイル］メニューから「別名で保存」を選択してください。</p>
      <div class="link" style="width: 50%">
        <a href="https://editor.p5js.org/p5nyan/sketches/fHkjcRuKX" target="_blank" rel="noopener">
          ここをクリック！
        </a>
      </div>

      <h2>サンプルコード</h2>
      <p>各レッスンのサンプルコードは以下のリンクボタンから見られます。</p>
      <div class="codeLink" v-scope>
        <template v-for="n in [...Array(12)].map((_, i) => i + 3)">
          <div class="link">
            <a :href="`./lesson/0${n}.html`" v-if="n < 10">レッスン 0{{n}}</a>
            <a :href="`./lesson/${n}.html`" v-else>レッスン {{n}}</a>
          </div>
        </template>
      </div>

      <h2>練習問題</h2>
      <p>練習問題は、サンプルコードと同じページ（の最後）にあります。以下のリンクボタンからも移動できます。</p>
      <div class="codeLink" v-scope>
        <template v-for="n in [...Array(11)].map((_, i) => i + 3)">
          <div class="link">
            <a :href="`./lesson/0${n}.html#ex`" v-if="n < 10">レッスン 0{{n}}</a>
            <a :href="`./lesson/${n}.html#ex`" v-else>レッスン {{n}}</a>
          </div>
        </template>
      </div>

      <h2>正誤表</h2>

      <p>本の間違いの修正です。</p>

      <table id="errata">
        <tr>
          <th class="page">場所</th>
          <th>誤</th>
          <th>正</th>
        </tr>
        <tr>
          <td class="page">
            <span>p.96</span><br />
            ミニコラム
          </td>
          <td>サンプルコードの実行例（コメント）が「➡ -3」など、すべて負の値になっている。</td>
          <td>「➡ 3」など、すべて正の値が正しい。</td>
        </tr>
        <tr>
          <td class="page">
            <span>p.247</span><br />
            図13.4
          </td>
          <td colspan="2">
            関数定義の中の<mark>let nn = n * n;</mark>というコードのイラストで、かけ算の記号が抜けている。
          </td>
        </tr>
        <tr>
          <td class="page">
            <span>p.298</span><br />
            コード40〜41行目
          </td>
          <td colspan="2">
            間違いではないが、ここまでのサンプルコードと条件式のxとyが上下（前後）入れ替わっている。結果は同じ。
          </td>
        </tr>
        <!--
        <tr>
          <td class="page">
            <span></span><br />
          </td>
          <td></td>
          <td></td>
        </tr>
        -->
      </table>

      <h2>その他の情報</h2>

      <section class="h3">
        <h3>この本で最後に作るプログラム</h3>
        <p>画像をクリックしたらデモが開きます。ゲームのほうはカーソルキー（矢印キー）で操作してください。</p>
        <figure class="demo">
          <a href="https://editor.p5js.org/p5nyan/full/zuiDfNl4A" target="_blank" rel="noopener"
            ><img src="./images/game_demo.png" width="400"
          /></a>
          <figcaption>ピゴニャンのゲーム</figcaption>
          <a href="https://editor.p5js.org/p5nyan/full/vG0jqCzKT" target="_blank" rel="noopener"
            ><img src="./images/animation_demo.png" width="300"
          /></a>
          <figcaption>グラフィックスのアニメーション</figcaption>
        </figure>
      </section>

      <section class="h3">
        <h3>クリエイティブコーディングについて</h3>
        <p>この本で紹介した作品については以下のリンクを参照してください。</p>
        <ul>
          <li>
            <a href="https://openprocessing.org/">OpenProcessing</a>
          </li>
          <li>
            <a href="https://openprocessing.org/user/6533/">高尾俊介さんの作品</a>
          </li>
          <li>
            <a href="https://openprocessing.org/user/207560/">Senbakuさんの作品</a>
          </li>
        </ul>
      </section>

      <section class="h3">
        <h3>エラーメッセージ</h3>
        <p>p5.jsのエラーメッセージは次のページにまとめています。</p>
        <ul>
          <li>
            <a href="./error-message.html">エラーメッセージ一覧</a>
          </li>
        </ul>
      </section>

      <section class="h3">
        <h3>この本を終えたあとに…</h3>
        <p>
          この本を終えて、p5.jsでグラフィックスのアニメーションを作ってみたり、JavaScriptでウェブアプリを作ってみたりしたい人は、著者のオンラインテキストも参考にしてください。<br />
          「文系大学生のための…」と書かれていますが、この本を最後まで読んだ人なら小学生〜高校生でも読めると思います。「p5.js入門」のほうは基本的な文法の復習にもなります。
        </p>
        <ul>
          <li>
            <a href="https://zenn.dev/ojk/books/intro-to-p5js">文系大学生のためのp5.js入門</a>
          </li>
          <li>
            <a href="https://zenn.dev/ojk/books/intro-to-html-css">文系大学生のためのHTML／CSS入門</a>
          </li>
          <li>
            <a href="https://zenn.dev/ojk/books/intro-to-javascript">文系大学生のためのJavaScript入門</a>
          </li>
        </ul>
        <p style="margin-top: 2rem">
          JavaScriptについてさらに詳しく知りたい人は、以下のオンラインテキストが参考になります。ひとつめは「入門書」と名前にありますが、かなり詳しく説明がされています。
        </p>
        <ul>
          <li>
            <a href="https://jsprimer.net/">JavaScript Primer 迷わないための入門書</a>
          </li>
          <li>
            <a href="https://developer.mozilla.org/ja/docs/Web">開発者向けのウェブ技術 | MDN</a>
          </li>
        </ul>
      </section>

      <section class="h3 nouse-p5">
        <h3>p5.jsのウェブエディターを使わない方法</h3>
        <p>
          学校から配布されているノートパソコンでは、<a href="https://editor.p5js.org/" target="_blank" rel="noopener"
            >p5.jsのウェブエディター</a
          >が開かない（ファルタリングされている）場合があります。その場合には、以下の手順にしたがって、ウェブエディターを使わない方法でプログラミングを進めてください。
        </p>

        <ul>
          <li>
            <a href="./without-webeditor.html">p5.jsのウェブエディターを使わない方法</a>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <small>最終更新：2023年9月18日（著者 尾関基行）</small>
    </footer>

    <script src="https://unpkg.com/petite-vue" defer init></script>
  </body>
</html>
