:root {
  font-size: 16px;
  font-family: 'BIZ UDPGothic', sans-serif;
  line-height: 1.6em;
  scroll-behavior: smooth;
  --red: #dc4977;
  --yellow: #fff148;
  --green: #7fcbbf;
  --yellowgreen: #bcd777;
  --pink: #f3a3b6;
  --orange: #f7a868;
  --marker: #fff691;
}

/* コード */
.gist tr:not(:last-of-type) td:last-of-type {
  border-bottom: solid 1px white;
}

.gist tr:nth-child(even) td:last-of-type {
  background-color: rgb(250, 250, 250);
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  color: teal;
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 1em;
}

header p {
  color: teal;
  font-size: 1.5em;
  font-weight: bold;
}

nav {
  font-size: 1.5em;
  width: 2.5em;
  height: 2.5em;
  line-height: 1.5em;
  background-color: var(--yellowgreen);
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1;
}

nav a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  text-decoration: none;
}

mark {
  background: linear-gradient(transparent 50%, var(--marker) 0%);
}

mark.highlight {
  background-color: cornsilk;
  padding: 0.2em 0.3em;
  border: solid 1px lightgray;
  margin: 0 0.2em;
}

h2 {
  background-color: teal;
  color: white;
  padding: 0.5em 0.7em;
  margin-top: 3em;
  border-radius: 0 1em 1em 0;
  display: flex;
  justify-content: space-between;
}

h2::after {
  content: '●';
  color: white;
  text-align: right;
  font-size: 0.5em;
}

h2 + p {
  border: solid var(--orange) 2px;
  padding: 1em;
}

h2 + p span {
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  background-color: var(--pink);
  padding: 0.2em 0.5em 0.3em;
  vertical-align: 0.1em;
  border-radius: 1em;
}

h3.caption {
  color: darkslateblue;
  font-size: 1rem;
  margin: 2rem 0 5px;
}

h3.caption a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  background-color: var(--pink);
  padding: 0.2em 0.5em 0.3em;
  vertical-align: 0.1em;
  border-radius: 1em;
}

h3.caption span {
  background-color: teal;
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  padding: 0.2em 0.3em 0.3em;
  vertical-align: 0.1em;
  margin-right: 0.5em;
}

h3:not(.caption) {
  border-left: solid 0.5em var(--pink);
  padding-left: 0.5em;
  margin-top: 2.5rem;
}

ol {
  margin-right: 2em;
  list-style-type: none;
  counter-reset: item;
}

ol li {
  text-indent: -1.3em;
  padding-left: 1.3em;
}

ol li::before {
  counter-increment: item;
  content: counter(item) '.';
  color: var(--green);
  font-weight: bold;
}

ol li:not(:last-of-type) {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: dotted 2px var(--green);
}

details {
  margin-top: 2rem;
  padding: 1em 2em;
  border: solid 1px lightgray;
  border-radius: 2em;
}

summary {
  font-weight: bold;
  color: teal;
}

footer {
  background-image: url(../images/footer-bg.png);
  box-sizing: border-box;
  height: 137px;
  margin-top: 2rem;
  padding-top: 90px;
  text-align: center;
  color: var(--red);
  font-weight: bold;
}
